# Secrets
.env

# Virtual env
venv/
.venv/

# Data
data/
mlruns/
logs/

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

# Git & OS
.git/
.gitignore
.DS_Store
.vscode/
.idea/

# Notebook
notebook/