pandas
numpy
apify_client
ipykernel
python-dotenv
osmnx
matplotlib 
seaborn 
geopandas
scikit-learn
xgboost
lightgbm
tqdm
shap
mlflow
optuna
supabase
sentence_transformers
anthropic
google-genai
groq
streamlit
streamlit-folium
folium
fastapi
uvicorn[standard]
requests