# Data & numerik
pandas
numpy
scipy

# ML
scikit-learn
xgboost
shap
joblib
mlflow
optuna

# Visualisasi (notebook)
matplotlib
seaborn

# Utils
tqdm
python-dotenv
requests

# Database & LLM
supabase
groq

# API
fastapi
uvicorn[standard]
pydantic

# UI
streamlit
streamlit-folium
folium

# Notebook kernel
ipykernel
